<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417052737958-gulhff7hivqblo7mdlu0cqpreghe4rgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417052737958-gulhff7hivqblo7mdlu0cqpreghe4rgi</string>
	<key>API_KEY</key>
	<string>AIzaSyAhlRrQP80I0RP9oKQUq4DxHyWMuGxY_ms</string>
	<key>GCM_SENDER_ID</key>
	<string>417052737958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ahooramazda.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-803b0</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-803b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417052737958:ios:3944b2edbe569004300f67</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-803b0.firebaseio.com</string>
</dict>
</plist>